<tr>
  <td><%= @page * Settings.paginate.per_page + song_counter - 4 %></td>
  <td><%= link_to song.name, song_path(song) %></td>
  <td>
    <%= link_to admin_song_path(song), method: :delete,
      data: {confirm: t("confirm")} do %>
      <span class="glyphicon glyphicon-trash btn-xs btn-danger"></span>
    <% end %>
  </td>
</tr>
