<% provide :title, t(".title") %>
<h1><%= @artist.name %></h1>
<h2><%= @artist.description %></h2>
<div class="row">
  <%= render partial: "shared/song_list", collection: @songs, as: "song" %>
</div>
<%= will_paginate @songs %>
