<% provide :title, t(".title") %>
<% provide :submit, t("upload") %>
<h1><%= t ".title" %></h1>
<div class="col-md-6 col-md-offset-3">
  <%= render "song_form", song: @song, artists: @artists,
    genres: @genres %>
</div>
