<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="logo"><%= link_to t("music_web"), root_path %></div>
    <div class="menulogo">
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("help"), help_path %></li>
          <li><%= link_to t("log_in"), "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
